body {
    background-color: rgb(246, 246, 246);
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.2s ease-in-out;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralize2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao {
    max-width: 450px;
    width: 95vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background-color: rgb(218, 5, 5);
    box-shadow: 8px 10px 15px 12px rgba(0, 0, 0, 0.468), 
                inset 0px 0px 30px 20px rgba(255, 172, 172, 0.474), 
                inset 10px 10px 15px 10px rgba(255, 180, 180, 0.33);
    cursor: pointer;
    transition: 0.08s ease-in-out;
}

.botao:hover {
    background-color: rgb(208, 6, 6);
    box-shadow: 8px 10px 15px 12px rgba(0, 0, 0, 0.468), 
                inset 0px 0px 30px 20px rgba(255, 255, 255, 0.337), 
                inset 10px 10px 15px 10px rgba(255, 255, 255, 0.191);
}

.botao:active {
    transform: translate(8px, 10px);
    box-shadow: 2px 8px 12px 6px rgba(0, 0, 0, 0.558), 
                inset 0px 0px 30px 20px rgba(255, 255, 255, 0.337), 
                inset 10px 10px 15px 10px rgba(255, 255, 255, 0.191);
}


.heart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 300px;
}

.topleft {
    transform: rotate(-45deg);
}

.bottomleft{
    transform: rotate(225deg);

}

.topright {
    transform: rotate(45deg);

}

.bottomright {
    transform: rotate(135deg);
}

.heart.topleft.move {
    transition: 1.5s transform ease-in-out;

    transform: translate(-500%, -500%) rotate(-45deg);
}

.heart.bottomleft.move {
    transition: 1.5s transform ease-in-out;
    transform: translate(-500%, 500%) rotate(225deg);
}


.heart.topright.move {
    transition: 1.5s transform ease-in-out;
    transform: translate(500%, -500%) rotate(45deg);
}

.heart.bottomright.move {
    transition: 1.5s transform ease-in-out;
    transform: translate(500%, 500%)  rotate(135deg);
}